@charset "ISO-8859-1";
.web-name a:hover{
	text-decoration:none;
}
.web-name a:active{
	color:#9966ff;
}
.web-name a:visited{
	color:#9966ff;
}
#main{
	height:40px;
	margin-top:7px;
	background-image:url("images/back2.jpg");
}
.ravi img{
	display: block;
  margin-left: auto;
  margin-right: auto;
	border-radius:50%;
	transition:all 0.3s ease-in-out;
}
.ravi img:hover {
    width: 250px;
    height: 250px;
    border-radius:2%;
}
.container h2{
	color:#1ac6ff;
}

